/* Color Theme Swatches in Hex */
.Pollie-1-hex { color: #010326; }
.Pollie-2-hex { color: #393E59; }
.Pollie-3-hex { color: #F0F2F2; }
.Pollie-4-hex { color: #6FBFBF; }
.Pollie-5-hex { color: #82D9D9; }

/* Color Theme Swatches in RGBA */
.Pollie-1-rgba { color: rgba(0, 2, 38, 1); }
.Pollie-2-rgba { color: rgba(57, 61, 89, 1); }
.Pollie-3-rgba { color: rgba(239, 241, 242, 1); }
.Pollie-4-rgba { color: rgba(110, 191, 191, 1); }
.Pollie-5-rgba { color: rgba(130, 216, 216, 1); }

/* Color Theme Swatches in HSLA */
.Pollie-1-hsla { color: hsla(236, 96, 7, 1); }
.Pollie-2-hsla { color: hsla(230, 21, 28, 1); }
.Pollie-3-hsla { color: hsla(191, 8, 94, 1); }
.Pollie-4-hsla { color: hsla(180, 38, 59, 1); }
.Pollie-5-hsla { color: hsla(180, 53, 68, 1); }

body {
    background: linear-gradient( #12162a, #82D9D9, #F0F2F2);
    margin: auto;
}

@media only screen and (min-width: 599px){
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #ffffff;
    }
    .logo {
        width: 10%;
        margin: 1rem;
    }

    .nav-title {
        font-size: 20px;
        
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-intro {
        font-size: 2em;
        color: #82D9D9;
        font-family: Bebas Neue;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .profile-pic {
        width: 30%;
        height: 30%;
        border-radius: 85px;
        border-style: solid;
        border-color: #82D9D9;
        border-width: .25em;
    }
    
    .header-info {
        color: #F0F2F2;
        width: 45%;
        text-align: center;
        font-size: 1em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main-title {
        font-size: 2em;
        color: #6FBFBF;
        font-family: Bebas Neue;
        text-align: center;
    }
    
    .main-info {
        font-size: 1em;
        color: #F0F2F2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        width: 50%;
    }
    
    footer {
        margin-top: 1rem;
    }
    
    .social-icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .icons {
        color:#82D9D9;
        padding: 1rem;
        font-size: 2em;
    }
}